*~
*.pyc
*.so
*.o
*.a
*.html
*.log
*.cxx
*.pdf
*.out
*.lst
*.s
py/src/*.c
*prof
*.pyd
python/legacy/*
.project
.pydevproject
.cproject
.settings/*
Debug/
build/
!BUILD_README.txt
output.callgrind
callgrind.out*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
*Py.py
Config.cmake
data/
